*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #e3acf95a,
    #c780fa3e
  );
}

.main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 1rem;
  max-width: 1200px;
  padding: 2rem 1rem;
  height: 100vh;
  margin: 0 auto;
}

.card-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card-body {
  text-align: center;
  position: relative;
  padding: 1rem 0.4rem;
  height: 80%;
}

.settings {
  position: relative;
  display: block;
}

.settings label {
  margin-bottom: 0.5rem;
}

.form_label {
  padding: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 0%;
  width: 150px;
}

.form_input {
  position: relative;
  display: inline-block;
  text-align: center;
  right: 0%;
  width: 3rem;
  padding: 10px;
}

.container {
  margin-top: 1.5rem;
}

.input-box {
  width: 45%;
  display: inline-block;
  margin-top: 5px;
}

.message {
  position: absolute;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: red;
  left: 54%;
  top: 76%;
  display: none;
}
.message-select {
  position: absolute;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: red;
  left: 42%;
  top: 97%;
  display: none;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.9rem;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 400px) {
  .card-header {
    font-size: 2rem;
  }

  .form_label {
    text-align: left;
    width: 60%;
  }
  .btn {
    bottom: 10%;
  }
}

@media only screen and (min-width: 600px) {
  .form_label {
    font-size: 2rem;
  }
  .form_input {
    transform: translate(0, -6px);
  }
  .input-box label {
    font-size: 1.5rem;
  }
  #password {
    margin-top: 5rem;
  }
  .btn {
    padding: 20px 40px;
  }
}
